# March 15, 2015
# https://github.com/bevry/base

# Temp Files
**/*.log
**/.docpad.db

# Build Files
build/
components/
bower_components/
node_modules/
out/

# Editor Caches
.c9/

# Private Files
.env
.idea
.cake_task_cache


# =====================================
# CUSTOM MODIFICATIONS

# None
