.service-buttons
	margin-top: 0
	.social-buttons
	.service-badges
		display: block
		margin-top: 0.5em

	.service-button
		display: inline-block
		width: 100px
		text-align: left
		overflow: hidden
		&.google-plus-one-button
		&.hacker-news-submit-button
			width: 80px
		&.twitter-follow-button
		&.fury-button
		&.gittip-button
			width: 130px
		&.reddit-submit-button
			width: 140px
			iframe
				padding-top: 3px
