header
	margin: 0

.service-buttons-container
	margin-bottom: 1em
	height: 2em
	max-height: 2em
	overflow: hidden

.service-buttons
	.social-buttons
	.service-badges
		display: block
		margin-top: 0.5em

	.service-button
		display: inline-block
		width: 100px
		text-align: left
		overflow: hidden
		&.google-plus-one-button
		&.hacker-news-submit-button
			width: 80px
		&.twitter-follow-button
		&.fury-button
		&.gittip-button
			width: 130px
		&.reddit-submit-button
			width: 140px
			iframe
				padding-top: 3px

.error
	border: 1px solid red
	background: #FDDCDC
	margin: 1em
	padding: 1em

.projects
	// Stars
	th
	td
		&:nth-child(2)
			text-align: right
	td:nth-child(2)
		font-family: monospace

	// License
	// Language
	th
	td
		&:nth-child(3)
		&:nth-child(4)
			text-align: center

	// Name
	td:nth-child(1)
		font-weight: bold
		.icon.star
			font-size: 80%

	thead tr
		border-bottom: 1px solid #808080

	tbody tr:hover
		background: #DDD !important